<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Template</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>@<%= user.name %></h1>
    <p>
        <h3>Followers : <%= user.followers %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Following : <%= user.following %></h3>
    </p>
    <p>
        <button>Follow</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button>Message</button>
    </p>
    <hr>
    <% for(let post of user.posts){ %>
        <img src="<%= post.image %>" alt="">
        <h3>Likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments : <%= post.comments %></h3>
    <% } %>
        <script src="/app.js"></script>
</body>
</html>